ngx-emoji, ngx-emoji-picker {
  display: block;
}

ngx-emoji {
  min-height: 1em;

  &:read-only {
    // pretty text
  }
  &:read-write {
    // input text
  }
}

.ngx-emoji {
  display: inline-block;
  width: 0px;
  height: 1em;
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

ngx-emoji-picker .ngx-emoji {
  cursor: pointer;
}

@import "./../../build-emoji/emoji.css";
